<div class="posts" id="post-<%=post.id%>">
  <div>
      <div class="post-content">
        <%= post.user.name %>
        <%= post.postContent %>
        <% if(locals.user && post.user.name == user.name)  {%>
          <div class="delete-posts">
           <a class="delete-post" href="/posts/destroy/<%=post._id%>">Delete Post</a>
          </div>
          <% } %>
    </div>
    <div class="post-details">
        <%= post.createdAt %>
    </div>
    <hr>
  </div>
 

<div class="add-comment">
 <% if(locals.user)  {%>
     <form action="/comments/create-comment" class="new-comment-form" method="POST">
         <input type="text" id="comment_content" name="commentcontent" placeholder="Add your thoughts...">
         <input type="hidden" id="post_id" name="post" value=<%= post._id %> >
         <button type="submit" class="comment-submit">Add Comment</button>
     </form>
 <% } %>
</div>
<div class="display-comments">
<% for( comment of post.comments){ %>
     <%- include("_comment") %>
 <% } %>
</div>

</div>
        