
<html>
    <head>
        <title>Codeial || <%=title %></title>
        <link rel="stylesheet" href="/css/home.css"></link>
    </head>
    <body>
        <div class="home-container">
            <section class="aside-1">

            </section>
            <section class="main-section">
                <div class="posts-container">
                    <div class="create-post-container">

                       <% if(locals.user) {%>
                        <form action="/posts/create-post" id="create-post" method="post">
                            <input type="text" placeholder="What's on your mind.." name="postContent" class="posts_text" required >
                            <button class="fnt-wght-500 fnt-18 btn" type="submit">Post</button>
                        </form>
                      <% } %>
                    </div>
                    <div class="display-post">
                        <% for(post of posts) { %>
                            
                                <%- include("_post")%>
            
                          
                        <% } %>
                     </div>
                </div>
                
            </section>
            <section class="aside-2">
                <div class="List_of_users">
                    <h1 class="text-center">USER DETAILS </h1>
                   <div class="users-details">
                    <% for(users of allusers) { %>
                        <% var i=false; %>
                        <div id="user-profile" >
                           <a class="fnt-wght-500 fnt-15" href="/users/profile/<%=users.id%>"><%=  users.name %> </a>
                        </div>
                        <% if(locals.user ) { %>
                            <% for(friendship of users.friendship) { %>
                            <% if(friendship._id == locals.user.id){ %>
                                <% i=true; %>
                                <% break %> 
                                <% } else { %>
                                    <% i=false; %>
                                <% } %>
                            <% } %>
                            <div class="social-icon">
                                <% if(i){ %>
                                    <a class="frnd-a-tag" href="/users/makefriendship/?type=follow&id=<%=users.id%>">Unfollow</a>
                               <% } else { %> 
                                    <a class="frnd-a-tag" href="/users/makefriendship/?type=follow&id=<%=users.id%>">Follow</a>
                                <% } %> 
                                <a href="#">Message</a>
                                </div>
                        <% } %>
                    <% } %>
                   </div>
                 </div> 
            </section>
        </div>
        
    </body>
    <script src="/js/home_posts.js"></script>
    <script src="/js/likejs.js"></script>
    <script src="/js/comment_ajax.js"></script>
    <script src="/js/friendship_ajax.js"></script>
</html> 
