<html>
    <head>
        <title>Codeial || <%=title %></title>
    </head>
    <body>

        <div>
            <h1> <%= title %></h1>
           <% if(locals.user) {%>
            <form action="/posts/create-post" method="post">
                <textarea placeholder="What's on your mind.." col="30" rows="3" name="postContent" class="posts-textarea"></textarea>
                <button type="submit">Post</button>
            </form>

          <% } %>
         </div>
         <div>
            <% for(post of posts) { %>
                    <div>
                           <%= post.postContent %>
                    </div>
                    <div>
                            <%= post.user.name %>
                    </div>
                    <div>
                        <%= post.user.createdAt %>
                    </div>
                    <% if(locals.user && post.user.name == user.name)  {%>
                    <div class="delte-post">
                        <a href="/posts/destroy/<%=post._id%>">Delete Post</a>
                    </div>
                    <% } %>
                    <div class="add-comment">
                        <% if(locals.user)  {%>
                            <form action="/comments/create-comment" method="POST">
                                <input type="text" name="commentcontent" placeholder="Add your thoughts...">
                                <input type="hidden" name="post" value=<%= post._id %> >
                                <button type="submit">Add Comment</button>
                            </form>
                        <% } %>
                    </div>
                    <div class="display-comments">
                       <% for( comment of post.comments){ %>
                            <div>
                                <%= comment.commentcontent %>
                            </div>
                            <div>
                                <%= comment.user.name %>
                            </div>
                        <% } %>
                    </div>
            <% } %>
         </div>
       
    </body>
</html>