<html>
    <head>
        <title>COdeial</title>
        <link rel="stylesheet" href="/css/Layout.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header') %>
        <%- body %>
        <%- include('_footer') %>
        <script src="/js/Layout.js"></script>
        <%- script %>
    </body>
</html>